/* General */
@font-face {
  font-family: iransanse;
  src: url("~assets/fonts/IRANSansWebFaNum.ttf");
}

body {
  font-family: iransanse !important;
  background-color: #f3faff !important;
}

.farsi-text {
  direction: rtl;
}

.text-justify {
  text-align: justify;
  text-align-last: right;
  direction: rtl;
}

.txt-color {
  color: #1c4b84;
}

.btn-color {
  background-color: #1c4b84 !important;
}

.img-size {
  width: 70%;
  transform: rotate(30deg);
}

.blog-img {
  height: 80%;
}

@media (max-width: 980px) {
  .blog-img {
    height: auto;
  } 
}

hr {
  color: black !important;
  width: 80%;
  margin: 0 auto !important;
}

/* navbar component style */
nav {
  direction: rtl;
  background-color: #1c4b84;
}

.bar {
  width: 90%;
  height: 2px;
  background-color: black;
}

.nav-border {
  border: none;
}

/* badge component style */
.service_background_one {
  background-color: #f3faff;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 13vh;
  margin-top: -70px;
}

@media (max-width: 768px) {
  .service_background_one {
    background-position: center;
    background-size: 100% 100%;
    min-height: 17vh;
    margin-top: 0px;
  }
}

.service_background_two {
  background-color: #f3faff;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 13vh;
  margin-top: -70px;
}

@media (max-width: 768px) {
  .service_background_two {
    background-position: center;
    background-size: 100% 100%;
    min-height: 17vh;
    margin-top: 0px;
  }
}

.service_background_three {
  background-color: #f3faff;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 13vh;
  margin-top: -70px;
}

@media (max-width: 768px) {
  .service_background_three {
    background-position: center;
    background-size: 100% 100%;
    min-height: 17vh;
    margin-top: 0px;
  }
}

/*most selled  product component section */
.res-img {
  width: 100%;
}

@media (max-width: 780px) {
  .res-img {
    width: 80% !important;
  }
}

.product-bg {
background-color: #1c4b84;
}

/* discount background */

.off-bg {
  background-color: #f3faff;
}

.discount-bg {
  background-color: #1c4b84;
  min-height: 20vh;
}

/* cta background */
.cta-bg {
  background-image: url("~assets/pictures/white-lamps.jpg");
  background-repeat: no-repeat;
  background-position: top right !important;
  min-height: 350px;
  background-attachment: fixed;
}

.cta-txt-color {
  color: #e4c412;
}

.cta-desc-color {
  color: #d7d8da;
}

.cta-txt-position {
  margin-top: -10px;
}

/*blog component style */

.blog-desc {
font-size: 11pt;
margin-top: -10px;
}

/* footer */
.bg-footer {
  background-image: url("~assets/pictures/footer.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background: linear-gradient(rgba(28, 75, 132, 0.97), rgba(28, 75, 132, 0.97));
}

.copyright {
  margin-left: 4em;
}

@media (max-width: 780px) {
  .copyright {
    margin-left: 0;
  }   
}





